In [1]:
import pandas as pd
import numpy as np

In [50]:
df=pd.read_csv("D:\\DATASETS\\customer.csv")
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [51]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.drop('purchased',axis=1),df['purchased'],test_size=0.2, random_state=56)

In [52]:
X_train

    age  gender   review education
4    16  Female  Average        UG
18   19    Male     Good    School
8    65  Female  Average        UG
46   64  Female     Poor        PG
39   76    Male     Poor        PG
30   73    Male  Average        UG
6    18    Male     Good    School
13   57  Female  Average    School
33   89  Female     Good        PG
1    68  Female     Poor        UG
31   22  Female     Poor    School
27   69  Female     Poor        PG
9    74    Male     Good        UG
29   83  Female  Average        UG
19   97    Male     Poor        PG
32   92    Male  Average        UG
47   38  Female     Good        PG
35   74    Male     Poor    School
49   25  Female     Good        UG
5    31  Female  Average    School
28   48    Male     Poor    School
10   98  Female     Good        UG
25   57  Female     Good    School
16   59    Male     Poor        UG
11   74    Male     Good        UG
2    70  Female     Good        PG
12   51    Male     Poor    School
24   16  Female  Average        PG
26   53  Female     Poor        PG
48   39  Female     Good        UG
22   18  Female     Poor        PG
23   96  Female     Good    School
41   23    Male     Good        PG
14   15    Male     Poor        PG
43   27    Male     Poor        PG
34   86    Male  Average    School
0    30  Female  Average    School
15   75    Male     Poor        UG
36   34  Female     Good        UG
21   32    Male  Average        PG

In [53]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [54]:
df.head(3)

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No

In [55]:
from sklearn.compose import ColumnTransformer

In [56]:
X_train

    age  gender   review education
4    16  Female  Average        UG
18   19    Male     Good    School
8    65  Female  Average        UG
46   64  Female     Poor        PG
39   76    Male     Poor        PG
30   73    Male  Average        UG
6    18    Male     Good    School
13   57  Female  Average    School
33   89  Female     Good        PG
1    68  Female     Poor        UG
31   22  Female     Poor    School
27   69  Female     Poor        PG
9    74    Male     Good        UG
29   83  Female  Average        UG
19   97    Male     Poor        PG
32   92    Male  Average        UG
47   38  Female     Good        PG
35   74    Male     Poor    School
49   25  Female     Good        UG
5    31  Female  Average    School
28   48    Male     Poor    School
10   98  Female     Good        UG
25   57  Female     Good    School
16   59    Male     Poor        UG
11   74    Male     Good        UG
2    70  Female     Good        PG
12   51    Male     Poor    School
24   16  Female  Average        PG
26   53  Female     Poor        PG
48   39  Female     Good        UG
22   18  Female     Poor        PG
23   96  Female     Good    School
41   23    Male     Good        PG
14   15    Male     Poor        PG
43   27    Male     Poor        PG
34   86    Male  Average    School
0    30  Female  Average    School
15   75    Male     Poor        UG
36   34  Female     Good        UG
21   32    Male  Average        PG

In [46]:
trans=ColumnTransformer(transformers=[
    ('tnfone',OneHotEncoder(drop='first',sparse_output=False),['gender']),
    ('tnftwo',OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']]),['review','education'])],
    remainder='passthrough')

In [47]:
trans.fit_transform(X_train).shape

(40, 4)

In [48]:
trans.transform(X_train)

array([[ 0.,  1.,  1., 16.],
       [ 1.,  2.,  0., 19.],
       [ 0.,  1.,  1., 65.],
       [ 0.,  0.,  2., 64.],
       [ 1.,  0.,  2., 76.],
       [ 1.,  1.,  1., 73.],
       [ 1.,  2.,  0., 18.],
       [ 0.,  1.,  0., 57.],
       [ 0.,  2.,  2., 89.],
       [ 0.,  0.,  1., 68.],
       [ 0.,  0.,  0., 22.],
       [ 0.,  0.,  2., 69.],
       [ 1.,  2.,  1., 74.],
       [ 0.,  1.,  1., 83.],
       [ 1.,  0.,  2., 97.],
       [ 1.,  1.,  1., 92.],
       [ 0.,  2.,  2., 38.],
       [ 1.,  0.,  0., 74.],
       [ 0.,  2.,  1., 25.],
       [ 0.,  1.,  0., 31.],
       [ 1.,  0.,  0., 48.],
       [ 0.,  2.,  1., 98.],
       [ 0.,  2.,  0., 57.],
       [ 1.,  0.,  1., 59.],
       [ 1.,  2.,  1., 74.],
       [ 0.,  2.,  2., 70.],
       [ 1.,  0.,  0., 51.],
       [ 0.,  1.,  2., 16.],
       [ 0.,  0.,  2., 53.],
       [ 0.,  2.,  1., 39.],
       [ 0.,  0.,  2., 18.],
       [ 0.,  2.,  0., 96.],
       [ 1.,  2.,  2., 23.],
       [ 1.,  0.,  2., 15.],
       [ 1.,  0.,  2., 27.],
       [ 1.,  1.,  0., 86.],
       [ 0.,  1.,  0., 30.],
       [ 1.,  0.,  1., 75.],
       [ 0.,  2.,  1., 34.],
       [ 1.,  1.,  2., 32.]])

In [49]:
trans.transform(X_test).shape

(10, 4)