In [20]:
import pandas as pd
import numpy as np

In [21]:
df=pd.read_csv("D:\\DATASETS\\xtrain.csv",usecols=['GarageQual','FireplaceQu','SalePrice'])
df.head()

  FireplaceQu GarageQual  SalePrice
0         NaN         TA     208500
1          TA         TA     181500
2          TA         TA     223500
3          Gd         TA     140000
4          TA         TA     250000

In [22]:
df.isnull().mean()*100

FireplaceQu    47.260274
GarageQual      5.547945
SalePrice       0.000000
dtype: float64

In [23]:
df['FireplaceQu'].mode()[0]

'Gd'

In [24]:
df['FireplaceQu'].fillna(df['FireplaceQu'].mode()[0],inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_10360\2429259325.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['FireplaceQu'].fillna(df['FireplaceQu'].mode()[0],inplace=True)

In [25]:
df['GarageQual'].fillna(df['GarageQual'].mode()[0],inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_10360\1700861388.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['GarageQual'].fillna(df['GarageQual'].mode()[0],inplace=True)

In [26]:
df.isnull().mean()*100

FireplaceQu    0.0
GarageQual     0.0
SalePrice      0.0
dtype: float64